absl-py==2.3.1
causal-conv1d @ file:///home/huang/zsh/causal_conv1d-1.0.0%2Bcu118torch1.13cxx11abiFALSE-cp38-cp38-linux_x86_64.whl#sha256=4a7962e709fcb241574972b2a9a938655409190125a54f2b71dcdd2306af4359
certifi==2024.7.4
chardet==5.2.0
charset-normalizer==3.3.2
cloudpickle==3.0.0
cmake==3.30.0
contextlib2==21.6.0
contourpy==1.1.1
cycler==0.12.1
decorator==4.4.2
einops==0.8.0
exceptiongroup==1.2.1
filelock==3.15.4
fonttools==4.53.1
fsspec==2024.6.1
fvcore==0.1.5.post20221221
h5py==3.11.0
huggingface-hub==0.23.4
idna==3.7
imageio==2.34.2
imageio-ffmpeg==0.5.1
importlib_resources==6.4.0
iniconfig==2.0.0
iopath==0.1.10
joblib==1.4.2
kiwisolver==1.4.5
lazy_loader==0.4
lightning-utilities==0.11.9
lit==18.1.8
lpips==0.1.4
mamba-ssm @ file:///home/huang/zsh/mamba_ssm-1.0.1%2Bcu118torch1.13cxx11abiFALSE-cp38-cp38-linux_x86_64.whl#sha256=31f374402f85b8b8ea5d62771aa9fd293fd0447faf10c124090620960df2611c
matplotlib==3.7.5
MedPy==0.5.1
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
ml_collections==0.1.1
moviepy==1.0.3
networkx==3.1
ninja==1.11.1.1
numpy @ file:///work/mkl/numpy_and_numpy_base_1682953417311/work
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
opencv-python==4.10.0.84
packaging==24.1
pandas==2.0.3
pillow==10.4.0
pluggy==1.5.0
portalocker==3.0.0
proglog==0.1.10
protobuf==5.27.2
ptflops==0.7.3
pyparsing==3.1.2
pytest==8.2.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyWavelets @ file:///croot/pywavelets_1670425177960/work
PyYAML==6.0.1
regex==2024.5.15
requests==2.32.3
safetensors==0.4.3
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.10.1
SimpleITK==2.3.1
six==1.16.0
submitit==1.5.1
tabulate==0.9.0
tensorboardX==2.6.2.2
termcolor==2.4.0
thop==0.1.1.post2209072238
threadpoolctl==3.5.0
tifffile==2023.7.10
timm==0.9.16
tokenizers==0.19.1
tomli==2.0.1
torch==1.13.0
torchaudio==0.13.0
torchmetrics==1.5.2
torchvision==0.14.0
tqdm==4.66.4
transformers==4.42.3
triton==2.0.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
yacs==0.1.8
zipp==3.19.2
